@font-face {
    font-family: 'CSChatThai';
    src: url('../fonts/CSChatThai/CSChatThai.eot?#iefix') format('embedded-opentype'), url('../fonts/CSChatThai/CSChatThai.woff') format('woff'), url('../fonts/CSChatThai/CSChatThai.ttf') format('truetype'), url('../fonts/CSChatThai/CSChatThai.svg#CSChatThai') format('svg');
    font-weight: normal;
    font-style: normal;
}